
<h1>Rechercher un dépot</h1>

<form action ='' method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "submit" value="Envoyer">

</form>
{%if clients|length != 0 %}
    {% for client in clients %}
        {% if user.poste == 'CO'%}
        <a href = "{% url 'depot_modif_com' client.numero_depot %}">{{client.name}} {{client.first_name}}</a></p>
        {% else %}
        <a href ="{% url 'depot_modif_tec' client.numero_depot %}">{{client.name}} {{client.first_name}}</a></p>
        {% endif %}
    {% endfor %}

{% else %}
    <p>Aucun dépot avec ce nom existe</p>
{%endif%}

<a href="/home">Home</a>
<a href="/logout">deconnexion</a>