<!-- 
    L'objectif de cette page est de permettre à l'utilisateur de changer de mdp
    
    Il y a un status d'erreur différent en fonction de si les mdp correspondents
    Différentes erreurs : errror_status
    402 = Wrong password
    403 = mauvaise correspondance des nouveaux password
    400 = Mot de passe bien changé
    401 = au départ avant de changer le mdp
    
    Pour utilisé ça faire : {% if error_status == 402 } ...

    Le formulaire pour la page est composé de :
    - old_password : correspond à l'ancien pswd a changé
    - new_password : nouveau mot de pass
    - double_check_password : idem que new_password

    nom du formulaire = form
    -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="interface techniciens"/>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/change_password.css' %}">
        <title>changer le mot de passe</title>
    </head>
    <body>
        <header>
            {% include "vraitemplate/haut_de_page.html" %}
        </header>
        <main>
            <p>{{error_status}}</p>
            <div class="table_container">
                <table>
                    <form class="grid-form"  method="post" novalidate>
                        {% csrf_token %}

                    <thead>
                            <th colspan=" 2">changer de mot de passe</th>        
                    </thead>
                    <tbody>
                        <tr style="height: 10px"></tr>
                        <tr>
                            <td>
                                <label>Ancien mot de passe :</label>
                            </td>
                            <td>
                                <div class="password_field">
                                    {{ form.old_password }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Nouveau mot de passe : </label>
                            </td>
                            <td>
                                <div class="password_field">
                                    {{ form.new_password }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Confirmation nouveau mot de passe :</label>
                            </td>
                            <td>
                                <div class="password_field">
                                    {{ form.double_check_password}}
                                </div>                                
                            </td>
                        </tr>
                        <tr style="height: 12px;"></tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Modifier" class="submit">
                            </td>
                        </tr>
                        <tr style="height: 10px;"></tr>
                    </tbody>
                </form>
                </table>
            </div>
            
        </main>
    </body>
</html>
<form class="grid-form"  method="post" novalidate>
    {% csrf_token %}