<!-- 
    L'objectif de cette page est de permettre à l'utilisateur de changer de mdp
    
    Il y a un status d'erreur différent en fonction de si les mdp correspondents
    Différentes erreurs : errror_status
    402 = Wrong password
    403 = mauvaise correspondance des nouveaux password
    400 = Mot de passe bien changé
    401 = au départ avant de changer le mdp
    
    Pour utilisé ça faire : {% if error_status == 402 } ...

    Le formulaire pour la page est composé de :
    - old_password : correspond à l'ancien pswd a changé
    - new_password : nouveau mot de pass
    - double_check_password : idem que new_password

    nom du formulaire = form
    -->


<form class="grid-form"  method="post" novalidate>
    {% csrf_token %}