{% load static %}
<!DOCTYPE html>
<html lang="fr"></html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Création de bons de dépôt"/>
    <link rel="stylesheet" href="{% static 'admin/css/create_user.css' %}">
    <title>Ajouter un utilisateur</title>
</head>

</html>
<!-- Pour afficher les users, il faut utiliser la liste des users : exemple : {{users[0]} pour afficher le premier user.
     Pour tous les afficher il faut faire une boucle for }-->
<body>
<header>
    {% include "vraitemplate/haut_de_page.html" %}
</header>
<main>
    <h1> GESTION DES UTILISATEURS</h1>

    <div class="table_container">
        <table class="users_list">
            <thead>
                <th>Liste des utilisateurs</th>
                <th>Poste</th>
                <th>action</th>
            </thead>
            <tbody>
                    {% for user1 in users %}
                    <tr>
                        <td>{{ user1.username}}</td>
                        <td>{{ user1.get_poste_display }}</td>
                        <td><a href="{% url 'edit_user' user1.username %}">editer</a> / <a href="{% url 'supprimer_user' user1.username %}">supprimer</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ajt_user">
        <form class="grid-form"  method="post" novalidate>
            {% csrf_token %}
            <div class="ajt_user_tab">
                <table class="table_ajt">
                    <thead>
                        <th colspan="4">Ajouter un utilisateur</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tab_label"><label for="{{form.first_name.id_for_label}}">prénom:</label></td>
                            <td class="tab_input"><div class="div_input"></div>{{form.first_name}}</td>
                            <td class="tab_label"><label for="{{form.last_name.id_for_label}}">nom:</label></td>
                            <td class="tab_input"><div class="div_input"></div>{{form.last_name}}</td>
                        </tr>
                        <tr>
                            <td class="tab_label"><label for="{{form.poste.id_for_label}}">poste:</label></td>
                            <td class="tab_input"><div class="div_select"></div>{{form.poste}}</td>
                            <td class="tab_label"><label for="{{form.password.id_for_label}}">Mot de passe par défaut:</label></td>
                            <td class="tab_input"><div class="div_input"></div>{{form.password}}</td>
                        </tr>
                        <tr>
                            {% if not edit %}
                            <td colspan="4" class="submit"><input type="submit" value="créer un utilisateur" class="submit_button"></td>
                            {% else %}
                            <td colspan="4" class="submit"><input type="submit" value="Modifier l'utilisateur" class="submit_button"></td>
                            {% endif %}
                        </tr>
                    </tbody>
                    
                </table>
                
            </div>

            
            
        </form>
    </div>
</main>

</body>