{% load static %}


<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Création de bons de dépôt"/>
        <link rel="stylesheet" href="{% static 'admin/css/style_bd.css' %}">
        <title>Création de bons de dépôt</title>
            </head>
    <body>
        <header>
                {% include "vraitemplate/haut_de_page.html" %}
        </header>
        <main >
            <h2>Créer un bon de dépôt</h2>

        <form class="grid-form"  method="post" novalidate>
            {% csrf_token %}

            <div class="nom">
                <label for="{{ form.nom.id_for_label }}" id="Nom">Nom:</label>
                {{ form.nom }}
            </div>
            <div class="prenom">
                <label for="{{ form.first_name.id_for_label }}" id="Prénom">Prénom:</label>
                {{ form.first_name }}
            </div>
            <div class="telephone">
                <label for=" {{ form.telephone.id_for_label }}" id="Téléphone">Téléphone:</label>
                {{ form.telephone }}
            </div>
            <div class="email">
                <label for="{{ form.email.id_for_label }}" id="Email">Email:</label>
                {{ form.email }}
            </div>
            <div class="mdp">
                <label for="{{ form.mdp_windows.id_for_label }}" id="mdp windows">mot de passe Windows:</label>
                {{ form.mdp_windows }}
            </div>
            <div class="probleme">
                <label for="{{ form.probleme.id_for_label }}" id="description">description du problème:</label>
                {{ form.probleme }}
            </div>
            
            <div class="checkbox">
                <div class=" carton">
                    <label for="{{ form.carton.id_for_label }}" id="carton">carton ?</label>
                    <input type="checkbox" name="{{ form.carton.name }}" />
                </div>
                <div class="alimentation">
                    <label for="{{ form.alimentation.id_for_label }}" id="alimentation">câble d'alimentation ?</label>
                    <input type="checkbox" name="{{ form.alimentation.name }}" />
                </div>
                <div class="reinitialisation">
                    <label for="{{ form.reinitialisation.id_for_label }}" id="reinitialisation">réinitialisation ?</label>
                    <input type="checkbox" name="{{ form.reinitialisation.name }}"/>
                </div>
            </div>
            
            <div class="ref_commande">
                <label for="{{ form.ref_commande.id_for_label }}" id="ref de commande">référence de commande:</label>
                <input class="ref_commande" type="text" name="{{ form.ref_commande.name }}" placeholder="référence presta et CDC"/>
            </div>
           
           
            <div class="designation">
                <label for="{{ form.designation.id_for_label }}" id="designation">designation:</label>
                <select  class="designation" for="{{ form.designation.id_for_label }}"  name="{{ form.designation.name }}" >
                    <option value=''>---------</option>
                    <option value='PO'>Laptop</option>
                    <option value='CO'>Config</option>
                    <option value='AR'>Article</option>
                </select>
            </div>

            <div class="mode_envoi">
                <label for="{{ form.mode_envoi.id_for_label }}" id="mode envoi">mode d'envoi:</label>
                <select class="mode_envoi" for="{{ form.mode_envoi.id_for_label }}"  name="{{ form.mode_envoi.name }}" >
                    <option value=''>---------</option>
                    <option value='RE'>Retrait</option>
                    <option value='EX'>Expédition</option>
                </select>
            </div>
          

            <input class="valider" type = "submit" value="valider">

        </form>

        
        </main>
        
    </body>
    
</html>
