{% load static %}
<!DOCTYPE html>
<html lang="fr"></html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Création de bons de dépôt"/>
    <link rel="stylesheet" href="{% static 'admin/css/create_user.css' %}">
    <title>Ajouter un utilisateur</title>
</head>

</html>
<!-- Pour afficher les users, il faut utiliser la liste des users : exemple : {{users[0]} pour afficher le premier user.
     Pour tous les afficher il faut faire une boucle for }-->
<body>
<header>
    {% include "vraitemplate/haut_de_page.html" %}
</header>


</body>