{% load static %}


<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Création de bons de dépôt"/>
        <link rel="stylesheet" href="{% static 'admin/css/style_bd.css' %}">
        <title>Création de bons de dépôt</title>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                // Cacher toutes les options sauf l'option vide au chargement de la page
                $('.mode_envoi option:not(:first)').hide();
        
                // Lorsque l'utilisateur clique sur le menu déroulant
                $('.mode_envoi').on('click', function() {
                    // Afficher toutes les options
                    $(this).find('option').show();
                });
        
                // Lorsque l'utilisateur sélectionne une option
                $('.mode_envoi').on('change', function() {
                    // Si l'option vide est sélectionnée, masquer toutes les autres options
                    if ($(this).val() == '') {
                        $(this).find('option:not(:first)').hide();
                    }
                });
            });
        </script>
            </head>
    <body>
        <header>
                {% include "vraitemplate/haut_de_page.html" %}
        </header>
        <main >
            <h2>Créer un bon de dépôt</h2>

        <form class="grid-form" action ='' method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
 <!--
<div class="form-field nom">
                <label for="{{ form.name.id_for_label }}" id="Nom">Nom:</label>
                {{ form.name }}
            </div>
            <div class="form-field prenom">
                <label for="{{ form.first_name.id_for_label }}" id="Prénom">Prénom:</label>
                {{ form.first_name }}
            </div>
            <div class="form-field telephone">
                <label for=" {{ form.telephone.id_for_label }}" id="Téléphone">Téléphone:</label>
                {{ form.telephone }}
            </div>
            <div class="form-field email">
                <label for="{{ form.email.id_for_label }}" id="Email">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-field mdp">
                <label for="{{ form.mdp_windows.id_for_label }}" id="mdp windows">mot de passe Windows:</label>
                {{ form.mdp_windows }}
            </div>
            <div class="form-field probleme">
                <label for="{{ form.probleme.id_for_label }}" id="description">description du problème:</label>
                {{ form.probleme }}
            </div>
            
            <div class="checkbox">
                <div class="case carton">
                    <label for="{{ form.carton.id_for_label }}" id="carton">carton ?</label>
                    <input type="checkbox" name="{{ form.carton.name }}" />
                </div>
                <div class="case alimentation">
                    <label for="{{ form.alimentation.id_for_label }}" id="alimentation">câble d'alimentation ?</label>
                    <input type="checkbox" name="{{ form.alimentation.name }}" />
                </div>
                <div class="case reinitialisation">
                    <label for="{{ form.reinitialisation.id_for_label }}" id="reinitialisation">réinitialisation ?</label>
                    <input type="checkbox" name="{{ form.reinitialisation.name }}"/>
                </div>
            </div>
            
            <div class="form-field ref_commande">
                <label for="{{ form.ref_commande.id_for_label }}" id="ref de commande">référence de commande:</label>
                <input type="text" name="{{ form.ref_commande.name }}" placeholder="référence presta et CDC"/>
            </div>
           
           
            <div class="form-field designation">
                <label for="{{ form.designation.id_for_label }}" id="designation">designation:</label>
                <select for="{{ form.designation_choix.id_for_label }}"  name="{{ form.designation_choix.name }}" >

                    {% for value, label in form.designation.field.choices %}
            <option value="{{ value }}" {% if form.designation.value == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
                </select>
            </div>

            <div class="form-field mode_envoi">
                <label for="{{ form.mode_envoi.id_for_label }}" id="mode envoi">mode d'envoi:</label>
                <select for="{{ form.mode_envoi.id_for_label }}"  name="{{ form.designation_choix.name }}" >

                    {% for value, label in form.mode_envoi.field.choices %}
            <option value="{{ value }}" {% if form.mode_envoi.value == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
                </select>
            </div>
 -->           

            <input class="valider" type = "submit" value="valider">

        </form>

        
        </main>
        
    </body>
    
</html>
