{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Création de bons de dépôt"/>
        <link rel="stylesheet" href="{% static 'admin/css/consultation.css' %}">
        <title>Consultation de dépôt</title>
    </head>

</html>

<body>
    <header>
        {% include "vraitemplate/haut_de_page.html" %}
    </header>
    <main>
        <h2>Consultation de dépôt</h2>

<form class="grid-form" action ='' method="post" novalidate>
    {% csrf_token %}
    <div class="informations-fixes">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th colspan="4">Informations générales:</th>
                        <th style="text-align: center; padding-left: 0;">depot n°{{depot.numero_depot}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 15px;"></tr>
                    <tr>
                        <td><label for="{{ form.carton.id_for_label }}" id="carton">carton :</label></td> 
                        <td>{{ depot.carton }}</td>
                        <td></td>
                        <td><label for="{{ form.designation.id_for_label }}" id="designation">designation:</label></td>
                        <td>{{ depot.get_designation_display }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.alimentation.id_for_label }}" id="alimentation">câble d'alimentation :</label></td> 
                        <td>{{ depot.alimentation }}</td>
                        <td></td>
                        <td><label for="{{ form.mode_envoi.id_for_label }}" id="mode envoi">mode d'envoi:</label></td>
                        <td>{{ depot.get_mode_envoi_display }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.reinitialisation.id_for_label }}" id="reinitialisation">réinitialisation :</label></td> 
                        <td>{{ depot.reinitialisation}}</td>
                        <td></td>
                        <td><label for="{{form.satut.id_for_label}}" id ="statut">satut :</label></td>
                        <td>{{ depot.get_statut_display}}</td>
                    </tr>
                </tbody>
            </table>  
    </div>
    

    <div class="nom field-style">
        <label for="{{ form.name.id_for_label }}" id="Nom">Nom:</label><br>
        {{ form.name }}
    </div>
    <div class="prenom field-style">
        <label for="{{ form.first_name.id_for_label }}" id="Prénom">Prénom:</label><br>
        {{ form.first_name }}
    </div>
    <div class="telephone field-style">
        <label for=" {{ form.telephone.id_for_label }}" id="Téléphone">Téléphone:</label><br>
        {{ form.telephone }}
    </div>
    <div class="email field-style">
        <label for="{{ form.email.id_for_label }}" id="Email">Email:</label><br>
        {{ form.email }}
    </div>
    <div class="mdp field-style">
        <label for="{{ form.mdp_windows.id_for_label }}" id="mdp windows">mot de passe Windows:</label><br>
        {{ form.mdp_windows }}
    </div>
    <div class="probleme big-field-style">
        <label for="{{ form.probleme.id_for_label }}" id="description">description du problème:</label><br>
        {{ form.probleme }}
    </div>
    <div class="ref_commande field-style">
        <label for="{{ form.ref_commande.id_for_label }}" id="ref de commande">référence de commande:</label><br>
        {{ form.ref_commande }}
    </div>
    

    <input class="valider" type = "submit" value="éditer">
    <a href = "/pdf_interne/{{depot.numero_depot}}" ><input type="button" value="afficher le dépôt"></form>
    </main>
</body>


