{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="PDF dépôt"/>
        <title>Bon de dépôt </title>
        <link rel="stylesheet" href="{% static 'admin/css/pdf_interne.css' %}">
    </head>
    <body>
        <header>
            <img class="logo" src="{%static 'admin/img/logosimple.png' %}">
            <h1 class="num_depot">DEPOT n°{{ depot.numero_depot}} </h1>
            <div class="infos">
                <p>24 rue Montgallet, 75012 PARIS</p>
                <p>Tél: 01 43 40 01 27</p>
                <p style="font-weight: bold;">{{depot.date}}</p>
            </div>
        </header>
    </body>
    
<div class="table_container">
    <table>
        <thead>
            <th colspan="4">INFORMATIONS CLIENT</th>
        </thead>
        <tbody>
            <tr>
                <td class="label_nom">NOM : </td><td> {{ depot.name }}</td>
                <td class="label_prenom">PRENOM :</td><td> {{ depot.first_name }}</td>
            </tr>
            <tr>
                <td class="contact_label" colspan="2">CONTACT : </td><td class="contact" colspan="2">{{depot.telephone}} / {{depot.email}}</td>
            </tr>
        </tbody>
    </table>
    
    <table>
        <thead>
            <th colspan="4">INFORMATIONS DU RETOUR</th>
        </thead>
        <tbody>
            <tr>
                <td class="ref_commande">N° COMMANDE :</td><td> {{ depot.ref_commande }}</td>
                <td class="designation">DESIGNATION :</td><td> {{ depot.get_designation_display }}</td>
            </tr>
            <tr>
                <td class="carton">CARTON ?</td><td> {{depot.carton}}</td>
                <td class="alim">CABLE D'ALIMENTATION ?</td><td> {{depot.alimentation}}</td>
            </tr>
            <tr>
                <td class="reinitialisation">REINITIALISATION ?(si besoin):</td><td>  {{depot.reinitialisation}}</td>
                <td class="livraison">LIVRAISON :</td><td> {{depot.get_mode_envoi_display}}</td>
            </tr>
            <tr>
                <td class="probleme_label" colspan="4">DESCRIPTION DU PROBLEME</td>
            </tr>
            <tr>
                <td class="probleme" colspan="4">{{depot.probleme}}</td>
            </tr>
            <tr class="mdp_windows">
                <td colspan="2" class="mdp_windows_label">Mot de passe Windows : </td> <td colspan="2">{{depot.mdp_windows}}</td>
            </tr>
            
        </tbody>
    </table>
</div>

<div>
    <p>
        Ce document atteste le dépôt de votre machine chez INFOMAX, celui-ci est a fournir lors de la réception du dépôt ainsi qu'une pièce d'identité.
    </p>
    <p>
        Durant la réparation de la machine, le disque de stockage peut être changé ou formaté, il est donc recommandé de prendre vos précautions en faisant une sauvegarde afin d'éviter toute perte de donnée importante.<br>
        INFOMAX n'est en aucun cas respondable de potentiel perte de données qui surviendrai dans le cadre d'une réparation.
    </p>
    <p style="margin-top: 40px;">
        Date et signature attestant la récupération du dépôt (lors de la réception): 
    </p>
</div>
</html>
