{% load static %}

<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Recherche depot"/>
        <link rel="stylesheet" href="{% static 'admin/css/style_bd.css' %}">
        <title>rechercher un bon de dépôt</title>
        
    </head>

    <body>
        <header>
            {% include "vraitemplate/haut_de_page.html" %}
        </header>
        <main>
            <h1>Rechercher un dépot</h1>
            <div>          
            <form action ='' method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}

            <button id="btnVerifier">Rechercher</button>
            <script>
                document.getElementById('btnVerifier').addEventListener('click', function() {
                    var resultatsDiv = document.getElementById('resultats');
                    resultatsDiv.style.display = 'block'; // Afficher la section de résultats
                });
            </script>
        </form>
        <div id="resultats" style="display: none">
            {%if clients|length != 0 %}
            {% for client in clients %}
                {% if user.poste == 'CO'%}
                <a href = "{% url 'depot_modif_com' client.numero_depot %}">{{client.name}} {{client.first_name}} {{ client.numero_depot}} {{ client.telephone}} {{ client.email}}</a></p>
                {% else %}
                <a href ="{% url 'depot_modif_tec' client.numero_depot %}">{{client.name}} {{client.first_name}} {{ client.numero_depot}} {{ client.telephone}} {{ client.email}}</a></p>
                {% endif %}
            {% endfor %}

        {% else %}
            <p>Aucun dépot avec ce nom existe</p>
        {%endif%}
        </div>
        
        </main>
        
        
        
    </body>

</html>