@import 'variables.css';

/* -----éléments généraux----- */

form{
    margin: auto;
    margin-bottom: 10px;
}
/* -----configurations des grid----- */

.grid-form{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-column-gap: 35px;
    grid-row-gap: 45px;
    grid-template-rows: repeat(2, 50px);
}
/* -----contenu----- */

.field-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}

.field-style input {
    width: 230px;
    height: 70px;
    border-radius: 7px;
    border-style: dotted;
    background-color: var(--input_field1);
    margin-top:10px;
    padding: 10px;
    box-shadow: inset 0 0 1em whitesmoke,
    0 0 2em rgb(218, 214, 214);
}

.nom{
    grid-row: 1;
    grid-column: 1 ;
}

.prenom {
    grid-row: 1 ;
    grid-column:2 ;
}

.ref_commande{
    grid-row:1 ;
    grid-column:3 ;
}

.depot{
    grid-row:1 ;
    grid-column:4 ;
}

.telephone{
    grid-row:2 ;
    grid-column:1 ;
}

.email{
    grid-row:2 ;
    grid-column:2 ;
}

.rechercher{
    grid-row: 2;
    grid-column: 4;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    box-shadow: inset 0 0 1em whitesmoke,
    0 0 2em rgb(218, 214, 214);
    background-color: var(--button_before);
    color: var(--text_dark);
    border-style: hidden;
    border-radius: 12px;
    transition: 0.3s;
}

.rechercher:hover{
    background-color:var(--button_after);
    color: var(--text_light);
    cursor: pointer;
}


/* -----configuiration table----- */

.table-container{
    margin-top: 100px;
    overflow-y: auto;
    height: 350px;
    width: 1105px;
    border-radius: 7px;
    box-shadow: inset 0 0 1em whitesmoke,
    0 0 2em rgb(218, 214, 214);
}

table{
    table-layout: fixed;
    width: 1105px;
    border-collapse: collapse;
    border: 2px solid hidden;
    overflow: auto;
    border: 1px solid black;
}

table thead tr{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--entete);
    color: var(--text_light);
}

th, td {
    border-right: 1px solid black;
    height: 20px;
    text-align: center;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.2;
}

table tbody tr{
    transition: 0.3;
}
table tbody tr:hover{
   background-color: rgb(110, 95, 227);
}

a, a:visited{
    color: var(--text_dark);
    font-weight:bold;
}


tbody tr:nth-child(odd) {
    background-color: var(--input_field1);
    transition: 0.2;
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--input_field2);
    transition: 0.2;
  }

/* -----N° depot----- */
thead th:nth-child(1) {
    width: 5%;
}
/* -----Nom----- */
thead th:nth-child(2) {
    width: 10%;
}
/* -----Prénom----- */
thead th:nth-child(3) {
    width: 10%;
}
/* -----Téléphone----- */
thead th:nth-child(4) {
    width: 8%;
}
/* -----Email----- */
thead th:nth-child(5) {
    width: 20%;
}
/* -----Référence de commande----- */
thead th:nth-child(6) {
    width: 7%;
}
/* -----problème----- */
thead th:nth-child(7) {
    width: 20%;
}
/* -----mot de passe windows----- */
thead th:nth-child(8) {
    width: 10%;
}
/* -----Etat du SAV----- */
thead th:nth-child(9) {
    width: 10%;
}



.error-message{
    color: #9067C6;
    font-size: large;
    font-weight: bold;
}