
/* -----éléments généraux----- */

form{
    margin-left: 5%;
    margin-right: 5%;


}
/* -----configurations des grid----- */




.grid-form{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    grid-template-rows: repeat(2, 80px) 90px;
}
/* -----contenu----- */


label{
    padding-bottom: 15px;
}
.nom{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 1;
    grid-column: 1;
    width: 200px;
    width : 100% ;
    height : 40px;
}

.prenom{
    margin-top: 10px;
    border-radius: 6px; 
    grid-row: 1;
    grid-column: 2;
    min-width: 200px;
    width : 100% ; 
    height : 40px;
}

.telephone{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 1;
    grid-column: 3;
    width: 200px;
    width : 100% ; 
    height : 40px;
}

.email{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 1;
    grid-column: 4;
    width: 200px;
    width : 100% ; 
    height : 40px;
}

.mdp{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 2;
    grid-column: 1;
    min-width: 200px;
    width : 100% ; 
    height : 40px;
}

.ref_commande{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 2;
    grid-column: 2;
    width: 200px;
    width : 100% ; 
    height : 40px;
}

.designation{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 2;
    grid-column: 3;
    width: 200px;
    width: 100%;
    height : 40px;
}

.mode_envoi{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 2;
    grid-column: 4;
    width: 200px;
    width : 100% ; 
    height : 40px;
}


.reinitialisation{
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    
}

.alimentation{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    
}

.carton{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    
}

.probleme{
    margin-top: 10px;
    border-radius: 6px;
    grid-row: 4;
    grid-column: 1 /span 3;
    width:100%;
}

.valider{
    grid-row: 4;
    grid-column: 4;
    width: 150px;
    height: 80px;
    border-radius: 7px;
    background-color: #e6e6ff;
    cursor: pointer;
    transition: background-color 1s;
    margin:auto;
}
.valider:hover{
    background-color: #64db87;
    
}
.checkbox{
    grid-column: 1;
    grid-row: 3;
    width: 200px;
    
}

