@import 'variables.css';

body{
    background-color: red;
}

.ajt_user{
    background-color: var(--secondary_background);
    border-radius: 5px;
}


.table_container{
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--secondary_background);
    height: 350px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border-style: hidden;
    border-radius: 7px;
    
}


th{
    text-align: left;
    height: 30px;
    font-size: large;
    width: 100%;
    background-color: var(--entete);
    color: var(--text_light);
    padding-left: 15px;
    border-right: 2px solid var(--main_background2);
}

.ajt_user th{
    border-radius: 7px 7px 0px 0px ;
}

.users_list th:first-child{
    border-radius: 7px 0px 0px 0px;
}
.users_list th:last-child{
    border-radius: 0px 7px 0px 0px;
    border-right: hidden;
}

.users_list{
    width: 100%;
    font-weight: bold;
    border-collapse: collapse;
}

table.users_list th:nth-child(1){
    width: 67%;
}
table.users_list th:nth-child(2){
    width: 15%;
}
table.users_list th:nth-child(3){
    width: 18%;
}

table.users_list td:nth-child(1){
    padding-left: 15px;
    text-align: left;
    border-right: 2px solid var(--main_background2);
}
table.users_list td:nth-child(2){
    text-align: center;
    border-right: 2px solid var(--main_background2);
}
table.users_list td:nth-child(3){
    text-align: center;
    height: auto;
}

table.users_list tr:nth-child(odd){
    background-color: var(--input_field1);
}
table.users_list tr:nth-child(even){
    background-color: var(--input_field2);
}

table.users_list tr:nth-child(odd):hover{
    background-color: var(--select1);
}
table.users_list tr:nth-child(even):hover{
    background-color: var(--select2);
}


tr{
    height: 40px;
}

.table_ajt{
    width: 100%;
    table-layout: fixed;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border-style: hidden;
    border-radius: 7px;
    border-collapse: collapse;
    font-weight: bold;
}

.tab_label{
    text-align: left;
    padding-left: 10px;
}

.tab_input{
    text-align: right;
    padding-right: 50px;
}

.tab_input input{
    background-color: var(--input_field1);
    width: 220px;
    height: 25px;
    border-style: hidden;
    border-radius: 7px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    padding-left: 5px;
}

.tab_input select{
    background-color: var(--input_field1);
    width: 225px;
    height: 25px;
    border-style: hidden;
    border-radius: 7px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
}

.submit{
    text-align: center;
    height: 70px;
}

.submit_button{
    width: 650px;
    padding: 10px;
    background-color: var(--button_before);
    color: var(--text_dark);
    transition: 0.3s;
    border-style: hidden;
    border-radius: 12px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    cursor: pointer;
    font-weight: bold;
}

.submit_button:hover{
    background-color: var(--button_after);
    color: var(--text_light);
    cursor: pointer;
}

.edit_suppr{
    padding: 7px;
    background-color: var(--button_before);
    border-radius: 5px;
    color: var(--text_dark);
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border: hidden;
    transition: 0.3s;
}

.edit_suppr:hover{
    background-color: var(--button_after);
    color: var(--text_light);
}

.edit_poste select{
    background-color: var(--button_before);
    height: 25px;
    width: 80%;
    border-radius: 5px;
    border: hidden;
    font-weight: bold;
}


