@import 'variables.css';

th{
    color: var(--text_light);
    background-color: var(--entete);
    text-align: left;
    padding-left: 5px;
    height: 35px;
    border-radius: 7px 7px 0px 0px;
    font-size: large;
}

tr{
    height: 30px;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

table{
    background-color: var(--secondary_background);
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border-style: hidden;
    border-radius: 7px;
    padding-bottom: 30px;
}



.info_client{
    table-layout: fixed;
    width:100%;
    margin-bottom: 40px;
    border-collapse: collapse;
}
.info_client td:nth-child(2){
    border-right: 1px dashed grey;
    padding-right: 5px;
}


.info_depot{
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.info_depot td:nth-child(2),.info_depot td:nth-child(4){
    border-right: 1px dashed grey;
    padding-bottom: 10px;
}

.probleme_label{
    padding-top: 20px;
    text-align: center;
    vertical-align: center;
}


.probleme{
    background-color: var(--input_field2);
    text-align: center;
    height: 50px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border-style: hidden;
    border-radius: 5px;
    padding: 5PX;
    margin-bottom: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
.tab_form{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.commentaire_field{
    padding-right: 15px;
}
.edit_text textarea{
    display: flex;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--input_field1);
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border-style: hidden;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
}

.button_container{
    text-align: center;
}

.edit_button{
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    background-color: var(--button_before);
    border-style: hidden;
    border-radius: 12px;
    transition: 0.3s;
    color: var(--text_dark);
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.edit_button:hover{
    background-color: var(--button_after);
    color: var(--text_light);
    cursor: pointer;
}

.info_label{
    font-weight: bold;
    width: 100%s;
}
.info_result {
    text-align: center;

}

.select_input{
    text-align: center;
    padding-top: 10px;
    padding-right: 45px;
}

.select_label{
    padding-left: 55px;

}

.select_input select{
    width: 85%;
    height: 25px;
    background-color: var(--input_field1);
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    border-style: hidden;
    border-radius: 12px;
    padding-left: 10px;
    
}

.checklist{
    padding-left: 55px;
    padding-right: 55px;
}

.grid_checkbox{
    display: grid;
    width: 100%;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr;
    margin-top: 15px;
    margin-bottom: 25px;
}
