@import 'variables.css';
/* -----éléments généraux----- */

form{
    margin: auto;
}
/* -----configurations des grid----- */

.grid-container{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 90px 30px;
}


.grid-form{
    display: grid ;
    grid-template-columns: repeat(4,250px);
    grid-column-gap: 35px;
    grid-template-rows: repeat(2 ,50px) repeat(3,10px) 150px ;
    grid-row-gap: 45px;
    color: var(--text_dark);
}
/* -----contenu----- */



.field-style {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70px;
    color: var(--text_dark);
}

.field-style input {
    width: 230px;
    height: 70px;
    border-radius: 7px;
    border-style: hidden;
    background-color: var(--input_field1);
    margin-top:10px;
    padding: 10px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
}

.field-style select{
    width: 250px;
    height: 70px;
    border-radius: 7px;
    border-style: hidden;
    background-color: var(--input_field1);
    margin-top:10px;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
}

.field-style label{
    width: 300px;
}

.big-field-style {
    border-radius: 7px;
    border-style: hidden;
}

.big-field-style textarea{
    background-color: var(--input_field1);
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    padding: 10px;
    width: 100%;
    border-style: hidden;
    border-radius: 7px;
}


.nom {
    grid-row: 1;
    grid-column: 1;
}

.prenom{ 
    grid-row: 1;
    grid-column: 2;
    width: 200px;
}

.telephone{
    grid-row: 1;
    grid-column: 3;
    width: 200px;
}

.email{
    grid-row: 1;
    grid-column: 4;
    width: 200px;
}

.mdp{
    grid-row: 2;
    grid-column: 1;
    width: 200px;
}

.ref_commande{
    grid-row: 2;
    grid-column: 2;
    width: 200px;
}

.designation{
    grid-row: 2;
    grid-column: 3;
    width: 200px;
}

.mode_envoi{
    grid-row: 2;
    grid-column: 4;
    width: 200px;
}

.reinitialisation{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
}

.alimentation{
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.carton{
    grid-column: 1;
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.probleme{
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end:4;
}

.valider{
    grid-row: 6;
    grid-column: 4;
    width: 150px;
    height: 90px;
    margin: auto;
    box-shadow: inset 0 0 2px whitesmoke,
    0 0 15px rgb(218, 214, 214);
    background-color: var(--button_before);
    border-style: hidden;
    border-radius: 12px;
    transition: 0.3s;
    color: var(--text_dark);
}

.valider:hover{
    background-color: var(--button_after);
    color: var(--text_light);
    cursor: pointer;
}

.checkbox{
    margin-top: 40px;
    width: 200px;
}
