/* -----éléments généraux----- */

form{
    margin-left: 5%;
    margin-right: 5%;


}
/* -----configurations des grid----- */




.grid-form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 250px;
    grid-template-rows: repeat(2, 80px) 90px;
}
/* -----contenu----- */

#form-field{
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
    width : 100% ; 
    height : 80px;
}

.nom{
    grid-row: 1;
    grid-column: 1 ;
    width: 200px;
    height: 50px;
}

.prenom{
    grid-row: 1 ;
    grid-column:2 ;
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
    width : 100% ; 
    height : 40px;
}

.ref_commande{
    grid-row:1 ;
    grid-column:3 ;
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
    width : 100% ; 
    height : 40px;
}

.depot{
    grid-row:1 ;
    grid-column:4 ;
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
    width : 100% ; 
    height : 40px;
}

.telephone{
    grid-row:2 ;
    grid-column:1 ;
}

.emal{
    grid-row:3 ;
    grid-column:2 ;
}